ul,div{
	list-style-type:none;
	-webkit-padding-start: 0;
}

body,html {
	color:black;
  font-family: Rubik;
	background-image:url('./images/background.jpg');
	margin:0;
}

a{
	color:black;
	text-decoration:none;
	padding: 0 0.5vw;
}

a:hover{
	color:red;
	cursor:pointer;
}

/*~~~~~~~~~~~~~~~~~~NAVBAR~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.navbar{
	background-color:white;
	display:inline-flex;
	text-align:center;
	width:100%;
	justify-content:space-around;
}

.navbar div{
  display:inline-flex;
  margin: auto 0;
}

#logo{
	content:url('./images/logo.jpg');
	background-repeat : no-repeat;
}


/*~~~~~~~~~~~~~~~~~~~~~~~homepage~~~~~~~~~~~~~~~~~~~~~~~~*/

.homepage{
	text-align:center;
	width:100vw;
	height:100vh;
}

.homepage p{
	padding: 0 25%;
}
.intro-div {
	color:white;
}

.portfolio-div{
	background:white;
	color:black;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#volcano-gif{
	content: url('./images/testing.gif');
}

#testing-span{
	position:absolute;
}

#testing-span ul {
	display:inline-block;
}

#testing-span li{
	list-style-type:circle;
	text-align:left;
}

/* ~~~~~~~~~~~~~~~Resume ~~~~~~~~~~ */

.resume{
	background-image:url('./images/resume.jpg');
  width:100%;
	border:1px solid black;
}

/* ~~~~~~~~~~~~~~~~~~Contact Form~~~~~~~~~~~~~~~~~~~*/

.contact-form{
	width:70vw;
	background-color:white;
	text-align:center;
	margin:3% auto 0 auto;
	border-radius:5px;
	line-height:1;
	padding:2% 5%;
	box-shadow: 5px 5px 5px grey;
}

.contact-form form{
	display:flex;
	flex-direction:column;
}

.error {
	border:2px solid red;
	border-radius:4px;
}

.input-name{
	background-image:url('./images/baby.png');
}

.input-email{
	background-image:url('./images/email.png');
}

.input-subject{
	background-image:url('./images/chat.png');
}

.textarea-message{
	background-image:url('./images/comments.png');
	background-position: 5px 5px;
}

input, textarea{
	background-position: 5px center;
  background-repeat: no-repeat;
	background-size:20px;
	border: 1px solid #ccc;
   
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px; 
  -o-border-radius: 4px;
  border-radius: 4px;
	text-indent:30px;
    
  padding: 10px 5px 10px 5px;
    
  -webkit-transition: all 0.2s;
  -moz-transition: all 2s;
  transition: all 0.2s;
}

.button{
	background-color:white;
	text-align:center;
	margin-top:10px;
	text-indent:0;
}
/*~~~~~~~~~~~~~~~Projects~~~~~~~~~~~~~~~~~~*/

.project{
	border-radius:10px;
	background-color:white;
	width:80vw;	
	padding: 1%;
}

.project h1{
	font-size:48px;
}

.project h1,h5{
	margin:0;
	padding:1% 1%;
	width:fit-content;
}

#carousel-indicator{
	background-color:transparent;
	display:flex;
	justify-content:center;
}

.carousel-indicator-item{
	padding:0;
	background-color:white;
	width:0.5vw;
	height:0.5vw;
	padding:5px;
	margin:0.4%;
	cursor: pointer;
	border:2px solid white;
	border-radius:50%;
}

.carousel-indicator-item:hover{
	border:2px solid grey;
	background-color:grey;
}

.proj-button{
	color:white;
	background:transparent;
	border:none;
	font-size:40px;
	height:fit-content;
	margin: auto;
}

.proj-button:hover {
	color:black;
	cursor:pointer;

}
.proj-button:focus {
	outline:0;
}

#project-container{
	display:inline-flex;
	justify-content:space-between;
	width:100%;
}



/*~~~~~~~~~~~~~~~~~~~media queries ~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~Mobile view ~~~~~~~~~~~~~~~~*/
@media only screen and (max-width:812px){
     
}



